 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Analytical chemist turned data scientist with a strong statistics background and experience in machine learning, NLP, and Python. Passionate about using data to improve business decisions, work productivity, and everything in-between.  A frequent speaker at data science meetups and events.</p>
                </div>


            </div>
        </div>
    </section>